extends layout


block head
	include header

block content

	div#CDMU-CONT.is-mapa
		div.header
			div.bg-figure
			div.wrapper
				include menu

				div#DIN-CON: div.wrapper
					
					section.intercambiable.is-mapa(id="#{gb.links[4]}")
						div.din-txt
							a.CDMU-close(onclick="cdmu_links.quit(this,'quit',event)",href="#{gb.rdir}#{gb.home}") &times;
							h2= gb.titles[4]
							div.overflower
								div#map.mapa
									-//img(src="#{gb.rdir}/imagenes/cartografias/img/_mapa.png")
							div.cont-txt
								p El movimiento de bandas de viento en Colombia, es un proceso de gran importancia y arraigo cultural. En muchas regiones colombianas las bandas de instrumentos de viento y percusión han sido históricamente uno de los escenarios más importantes de la práctica musical de niños, jóvenes y adultos, constituyéndose en una verdadera escuela de participación y formación musical. En su seno, se han iniciado y formado muchos de los mejores músicos nacionales de todos los géneros y épocas desde los legendarios maestros José Rozo Contreras, Luis A Calvo, Lucho Bermúdez y Pacho Galán, hasta los instrumentistas de viento de nuestras orquestas sinfónicas profesionales contemporáneas, compositores, intérpretes y directores de primer nivel. Cada año se realizan en Colombia numerosos festivales y concursos nacionales de bandas, alrededor de los cuales se expresa esta dinámica cultural, entre los cuales se destacan el concurso Nacional de Bandas de Paipa, el Concurso Nacional del Porro en San Pelayo Córdoba, el Concurso Nacional de Obra Inédita para Banda en San Pedro Valle, el Festival Nacional de Bandas en El Retiro Antioquia, el Concurso Nacional de Bandas en Anapoima Cundinamarca, el Concurso Nacional de Bandas en Samaniego Nariño, el Encuentro Nacional de Bandas Estudiantiles en La Vega Cundinamarca, el Concurso Nacional de Bambuco Inédito para banda en Tocancipá Cundinamarca, el Festival Nacional de Bandas Folclóricas de Barrancabermeja, el Encuentro Nacional de Bandas en Sincelejo y el Concurso de Bandas Infantiles en Caldas. El listado de eventos departamentales y zonales también es numeroso. Todo ello muestra el dinamismo de esta expresión cultural, que alcanza niveles musicales de gran importancia.
								p La mayor parte de la población colombiana ha apropiado y reconocido esta forma de expresión sonora, por lo cual se puede afirmar que la música de bandas de viento no solamente es un símbolo cultural significativo en el imaginario colombiano, sino que ha constituido y constituye una herramienta que posibilita el derecho al conocimiento y al disfrute de la música sin ningún tipo de discriminación.
								p La cartografía que estamos presentando se ha concebido como un instrumento que sirve para conocer el estado de esta práctica musical, sus actores, sus condiciones de desarrollo presente. También esperamos se constituya en un mecanismo de visibilización nacional e internacional de los procesos bandísticos de Colombia y en un precioso medio para conocernos y comunicarnos permanentemente. Por ello esperamos que cada banda tome esta cartografía como suya y la actualice permanentemente, para que la información sea confiable, veraz y oportuna, constituyendo un soporte firme a los procesos de planeación y evaluación cultural.
							
								h2.tit-creditos Créditos
								hr
								div.txt-creditos
	
									h4 Ministerio de Cultura
									p: span.blq Mariana Garcés Córdoba - <strong>Ministra de Cultura</strong>, María Claudia López Sorzano - <strong>Viceministra de Cultura</strong>, Enzo Rafael Ariza Ayala - <strong>Secretario General</strong>, Ana Roda Fornaguera - <strong>Directora Biblioteca Nacional de Colombia</strong>, Guiomar Acevedo Gómez - <strong>Directora de Artes</strong>, Alejandro Mantilla Pulido - <strong>Coordinador Plan Nacional de Música para la Convivencia</strong>, Jaime Quevedo Urrea - <strong>Centro de Documentación Musical Coordinador General del Proyecto Cartografía de Prácticas Musicales en Colombia</strong>, Marysabel Tolosa Escobar - <strong>Diseño de contenidos Coordinadora del componente de Circulación Plan Nacional de Música para la Convivencia</strong>, Gloria Millán Grajales - <strong>Diseño de contenidos Coordinadora de Practicas Musicales Plan Nacional de Música para la Convivencia</strong>.
									h4 Diseño y Desarrollo
									p: span.blq Angela Maria Rojas Rojas - <strong>Diseño y conceptualización</strong>, Luz Angelica Jiménez Rozo - <strong>Ingeniera de Desarrollo</strong>, Germán Andrés González Avellaneda - <strong>Líder de desarrollo</strong>.
									p Material de distribución gratuita con fines didácticos y culturales. Queda estrictamente prohibida su reproducción total o parcial con ánimo de lucro, por cualquier sistema o método electrónico sin la autorización expresa para ello. © Ministerio de Cultura- Biblioteca Nacional de Colombia 2011
								.cred_antes
		div.credits
			img(src="#{gb.rdir}/imagenes/cartografias/img/banner/credits.png")
			span.cred-cont Proyecto coordinado por el Centro de Documentación Musical
	
	include map_example