extends layout


block head
	include header

block content

	div#CDMU-CONT.is-mapa
		div.header
			div.bg-figure
			div.wrapper
				include menu

				div#DIN-CON: div.wrapper
					
					section.intercambiable.is-mapa(id="#{gb.links[1]}")
						div.din-txt
							a.CDMU-close(onclick="cdmu_links.quit(this,'quit',event)",href="#{gb.rdir}/cartografias") &times;
							h2= gb.titles[1]
							h3 CARTOGRAFÍA DE PRÁCTICAS MUSICALES EN COLOMBIA FESTIVALES DE MÚSICA.
							div.overflower
								div#map.mapa
									-//img(src="#{gb.rdir}/imagenes/cartografias/img/_mapa.png")
										
							div.cont-txt

								p La práctica musical en Colombia refleja la enorme diversidad de sus gentes, sus geografías, sus maneras de vivir y de hacer. De igual modo, expresa la variedad y complejidad de sus prácticas sociales y culturales, que son el resultado de largos procesos de mestizajes. 
								p Las comunidades han establecido estados de fiesta, entendidos como “conjuntos de disposiciones sociales que ubicadas en un tiempo y espacio específico, giran en torno a un sentido significativo para un determinado grupo social que exalta valores simbólicos, identitarios, materiales y culturales del mismo a través de diversas actividades”1. Las denominaciones que este estado recibe como festival, encuentro, concurso, retreta, torneo, festejo, feria, festividad, fiesta, verbena, romería, marcan sus implicaciones y significaciones sociales, estableciendo diferencias más de forma entre unas y otras. Sea cual sea la denominación, dicho estado de fiesta cumple un papel fundamental en la vinculación de la práctica musical específica con los procesos sociales que la permiten y la sustentan. 
								p En Colombia se realiza al año una gran cantidad de celebraciones en las cuales la música cumple un papel protagónico. La mayoría de ellos giran en torno a las prácticas tradicionales de las regiones, pero también los hay los que convocan formatos musicales específicos como bandas de vientos u orquestas, o músicas particulares como música de cámara, la salsa o el rock. 
								p Dada la importancia que tienen estas prácticas sociales y el impacto que alcanzan en los procesos de la práctica musical determinada, el Ministerio de Cultura ha diseñado esta segunda capa en el mapa musical de Colombia. El propósito, entonces, es proveer un mecanismo ágil, de fácil acceso y de manejo remoto para aglutinar la información de los festivales musicales en Colombia y hacer visible esta actividad como parte fundamental de la vida cultural del país. 
								p El Ministerio de Cultura viene consolidando y fortaleciendo los sistemas de información cultural del país en el entendido de que la calidad de la información es la herramienta esencial para la evaluación y proyección de la política cultural. En este sentido, la capa de festivales musicales de Colombia permitirá además de recopilar la información actualizada de los festivales y hacerlos visibles ante los usuarios del país y del exterior, contar con elementos certeros para orientar la política del Estado hacia las organizaciones públicas y privadas que los coordinan y adelantan en las regiones. 
								p: i 1 GIL CALVO, Enrique. Estado de Fiesta. Madrid Edit Espasa Calpe 1991 221pag, citado por Rojas Dora en Investigación del sector: Identificación, ubicación y caracterización: Informe Final 2007. Documento Inédito
								

								h2.tit-creditos Créditos
								hr
								div.txt-creditos

									h4 Ministerio de Cultura - Biblioteca Nacional de Colombia
									p: span.blq Mariana Garcés Córdoba - <strong>Ministra de Cultura</strong>, Maria Claudia López Sorzano - <strong>Viceministra de Cultura</strong>, Enzo Rafael Ariza Ayala - <strong>Secretario General</strong>, Ana Roda Fornaguera - <strong>Directora Biblioteca Nacional de Colombia</strong>, Jaime Humberto Quevedo Urrea - <strong>Coordinador Centro de documentación musical</strong>, <strong>Coordinador general Proyecto Cartografía de prácticas musicales en Colombia</strong>.
									h4 Diseño y Desarrollo
									p: span.blq Jaime Humberto Quevedo Urrea - <strong>Diseño conceptual</strong>, Javier Andrés Mesa Martinez - <strong>Diseño Gráfico</strong>, Angela Maria Rojas Rojas - <strong>Control de Calidad</strong>, Germán Andrés González Avellaneda - <strong>Diseño conceptual, Lider técnico y Desarrollo</strong>.
								.cred_antes
		div.credits
			img(src="#{gb.rdir}/imagenes/cartografias/img/banner/credits.png")
			span.cred-cont Proyecto coordinado por el Centro de Documentación Musical

	include map_example