extends layout


block head
	include header

block content

	div#CDMU-CONT.is-mapa
		div.header
			div.bg-figure
			div.wrapper
				include menu

				div#DIN-CON: div.wrapper
					
					section.intercambiable.is-mapa(id="#{gb.links[3]}")
						div.din-txt
							a.CDMU-close(onclick="cdmu_links.quit(this,'quit',event)",href="#{gb.rdir}/cartografias") &times;
							h2= gb.titles[3]
							div.overflower
								div#map.mapa
									img(src="#{gb.rdir}/imagenes/cartografias/img/_mapa.png")
							div.cont-txt
								p Esta capa de la <a href="http://www.bibliotecanacional.gov.co/content/cartograf%C3%AD-de-pr%C3%A1cticas-musicales-en-colombia" target="_blank">cartografía de prácticas musicales en Colombia</a> está dedicada a construir y desarrollar un espacio participativo, actual y complementario que enlaza todos los contenidos de las capas precedentes y subsiguientes, dada la estrecha relación que plantea desde la documentación y la investigación musical.
								p Los recursos que incluye esta herramienta permiten conocer información básica, contenidos y colecciones y establecer las relaciones entre los actores asociados y su producción, así como proyectar su expansión y visibilidad individual e institucional.
								p Esta relación entre actores, vincula de forma muy activa la comunidad de investigadores que produce, usa y/o deposita los recursos documentales que hay en nuestros centros de documentación musical. Así mismo motiva la recolección, asegura la conservación, facilita la investigación y el análisis y promueve la creación.
								
							h2.tit-creditos Créditos
							hr
							div.txt-creditos
								p Capa de Investigación y Documentación Musical en Colombia
								h4 Ministerio de Cultura - Biblioteca Nacional de Colombia
								p: span.blq Mariana Garcés Córdoba -<strong> Ministra de Cultura</strong>, Maria Claudia López Sorzano - <strong>Viceministra de Cultura</strong>, Enzo Rafael Ariza Ayala - <strong>Secretario General</strong>, Ana Roda Fornaguera - <strong>Directora Biblioteca Nacional de Colombia</strong>, Jaime Humberto Quevedo Urrea - <strong>Coordinador Centro de documentación musical, Coordinador general Proyecto Cartografía de prácticas musicales en Colombia</strong>.
								h4 Diseño y Desarrollo
								p: span.blqJaime Humberto Quevedo Urrea - <strong>Diseño conceptual</strong>, Javier Andrés Mesa Martinez - <strong>Diseño Gráfico</strong>, Angela Maria Rojas Rojas - <strong>Control de Calidad</strong>, Germán Andrés González Avellaneda - <strong>Diseño conceptual, Lider técnico y Desarrollo</strong>.
							.cred_antes
							
		div.credits
			img(src="#{gb.rdir}/imagenes/cartografias/img/banner/credits.png")
			span.cred-cont Proyecto coordinado por el Centro de Documentación Musical

	include map_example