extends layout


block head
	include header

block content

	div#CDMU-CONT.is-mapa
		div.header
			div.bg-figure
			div.wrapper
				include menu

				div#DIN-CON: div.wrapper
					
					section.intercambiable.is-mapa(id="#{gb.links[6]}")
						div.din-txt
							a.CDMU-close(onclick="cdmu_links.quit(this,'quit',event)",href="#{gb.rdir}#{gb.home}") &times;
							h2= gb.titles[6]
							div.overflower
								div#map.mapa
									-//img(src="#{gb.rdir}/imagenes/cartografias/img/_mapa.png")
							div.cont-txt
								p Hacen parte de las prácticas musicales las expresiones vocales, los cantos, la voz, el primer instrumento humano de comunicación y expresión musical que nos ha permitido cantar y contar vivencias, acompañar el diario vivir, invocar las divinidades, evocar las ilusiones y la vida.
								p Una gran diversidad de expresiones y prácticas musicales son posibles con la voz humana, tanto desde la individualidad como en comunidad, diversas prácticas sociales y culturales asociadas a modos de vida, ritualidades, celebraciones y lugares que construye y transmite la palabra y las distintas formas de cantar, todas las expresiones musicales vocales que se producen en Colombia están convocadas en esta capa de la Cartografía de Prácticas musicales. 
								p Cantar solo, con otros cantantes, en comunidad, en pequeñas agrupaciones corales o grandes masas corales, bailando, de manera repentina o de forma coordinada y concertada, esta forma de celebrar la vida, la alegría, el duelo, el amor, las dificultades, los anhelos y la esperanza tienen cita en esta capa, una herramienta ágil, de fácil acceso que convoca la participación y el reconocimiento de las  expresiones y prácticas sonoras y musicales hechas con la voz.
								p Bienvenidos a este nuevo escenario que se integra al colectivo de nuestros mapas sonoros en el  encuentro de saberes y el reconocimiento de la diversidad de las expresiones y prácticas musicales vocales colombianas, una contribución a los procesos de socialización, circulación y apropiación de la actividad musical en el país.
								
								h2.tit-creditos Créditos
								hr
								div.txt-creditos
									p: span.blq Ministerio de Cultura
									p: span.blq Biblioteca Nacional
									p: span.blq CDM Biblioteca Nacional
								
								.cred_antes
		div.credits
			img(src="#{gb.rdir}/imagenes/cartografias/img/banner/credits.png")
			span.cred-cont Proyecto coordinado por el Centro de Documentación Musical

	include map_example