extends layout


block head
	include header

block content

	div#CDMU-CONT.is-mapa
		div.header
			div.bg-figure
			div.wrapper
				include menu

				div#DIN-CON: div.wrapper
					
					section.intercambiable.is-mapa(id="#{gb.links[6]}")
						div.din-txt
							a.CDMU-close(onclick="cdmu_links.quit(this,'quit',event)",href="#{gb.rdir}/cartografias") &times;
							h2= gb.titles[6]
							div.overflower
								div#map.mapa
									img(src="#{gb.rdir}/imagenes/cartografias/img/_mapa.png")
							div.cont-txt
								p Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
								p Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.

		div.credits
			img(src="#{gb.rdir}/imagenes/cartografias/img/banner/credits.png")

	include map_example